.movie-card {
    background: linear-gradient(to top left, rgb(75, 75, 75), #2d2d2d);
    border-radius: 8px;
    display: flex;
    border: solid rgb(92, 92, 92) 3px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

h3 {
    font-size: 32px;
    margin: 20px 30px 10px 30px;
    border-bottom: 3px solid rgba(155, 155, 155, 0.233);
    width: 85%;
    padding-bottom: 5px;
    text-align: left;
}

.movie-card-text {
    margin: 5px 30px;
    color: white;
}

.character-link {
    border-top: 2px solid rgb(255, 225, 0);
    width: 85%;
    height: 50px;
    margin: 5px 30px;
    font-size: 23px;
    padding-top: 12px;
    text-decoration: none;
    color: rgb(189, 189, 189);
    transition: .2s;

    &:hover {
        border-top: 2px solid red;
        transition: .2s;
    }

    &:active {
        transition: .2s;
        color: red;
    }
}