h1 {
  font-size: 70px;
  color: rgb(255, 225, 0);
}

h4 {
  width: 100%;
  text-align: center;
  padding-right: 10px;
}

form {
  width: 500px;
  height: 570px;
  margin: auto;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  background-color: #383838;
  background: linear-gradient(#55729ee3, #3838383b);
  padding: 40px;
  border: 1px solid rgb(0, 136, 255);
  border-bottom: 1px solid rgb(72, 36, 255);
  border-top: 1px solid #5bc6c9e3;
  border-radius: 5px;
  box-shadow: 0 0 100px rgba(126, 188, 255, 0.365);
  transition: .4s;

  &:hover {
    box-shadow: 0 0 100px rgba(126, 171, 255, 0.509);
    transition: .4s;
  }

  label {
    font-size: 16px;
    color: white;
    font-weight: 600;
    margin-left: 30px;
    margin-bottom: -12px;
  }

  input {
    height: 30px;
    width: 110%;
    border-radius: 0 100px 100px 0;
    font-size: 16px;
    margin-left: -30px;
    border: none;
    border-left: 60px solid rgb(19, 19, 19);
    padding-left: 10px;
    background: rgb(255, 255, 255);
    transition: .3s;

    &:focus {
     outline: none; 
     box-shadow: 0 0 30px 0 #FF0000;
     transition: .25s;
    }
  }

  .input-1 {
    &:focus {
      box-shadow: 0 0 40px 0 #FF0000;
      background-color: rgb(255, 224, 224);
      transition: .25s;
     }

    &:active {
      box-shadow: 0 0 10px 0 #FF0000;
      background-color: rgb(255, 255, 255);
      transition: .25s;
    }
  }

  .input-2 {
    &:focus {
      box-shadow: 0 0 40px 0 rgb(61, 255, 43);
      background-color: rgb(224, 244, 255);
      transition: .25s;
     }

     &:active {
      box-shadow: 0 0 10px 0 rgb(61, 255, 43);
      background-color: rgb(255, 255, 255);
      transition: .25s;
    }
  }
  
  ::placeholder {
    color: rgb(174, 174, 174);
  }
  
  select {
    height: 30px;
    font-size: 16px;
    width: 150px;
    margin-left: 30px;
    background-color: white;
  }

  div {
    margin-top: 30px;
    width: 100%;
  }

  button {
    border: none;
    border-radius: 5px;
    background-color: rgb(255, 217, 0);
    width: 100px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    transition: .25s;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.557);

    &:hover {
      background-color: rgb(255, 242, 168);
      transition: .25s;
      box-shadow: 0 0 10px 0 rgb(255, 229, 32);
    }

    &:active {
      background-color: rgb(255, 255, 255);
      transition: .1s;
      box-shadow: 0 0 20px 0 rgb(255, 229, 32);
    }

    &:focus {
      outline: none;
    }
  }
}

.error-message {
  border: 2px solid rgb(255, 62, 62);
}