.character-info {
    border-radius: 4px;
    width: 70%;
    color: white;
    font-size: 20px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 10px;
    background: linear-gradient(to bottom right, #435a7d9e, #38383800);
    border: 1px solid rgb(186, 186, 186);
    border-bottom: 1px solid rgba(169, 82, 255, 0.639);
    border-top: 1px solid rgba(93, 239, 255, 0.733);
    border-left: 1px solid rgba(93, 150, 255, 0.616);
    border-right: 1px solid rgba(93, 163, 255, 0.687);
    box-shadow: 0 0 30px #6797ff4c;
}

.character-name {
    font-size: 2.3em;
    color: rgb(255, 234, 0);
    padding: 10px 30px;
    text-align: left;
    font-weight: 900;
}

.character-species,
.character-homeworld {
    font-size: 1em;
    text-align: initial;
    padding: 8px 30px;
    font-weight: 200;
}

.character-homeworld {
    font-size: 1.3em;
    text-align: initial;
    padding: 8px;
}

.character-rel-movies {
    font-size: 1em;
    text-align: justify;
    padding: 10px 30px;
    font-weight: 200;
    padding-bottom: 30px;
}

.character-movie-list {
    list-style: none;
    font-weight: 400;
    margin-top: 5px;
    color: rgba(184, 252, 167, 0.776);
}

.character-footer,
.footer-remove {
    margin: 25px;
    text-align: end;
}

span {
    color: #98e7ff;
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 600;
}

li {
    text-transform: uppercase;
    font-weight: 200;
}

.button-favorite {
    padding: 5px;
    background-color: rgb(255, 225, 0);
    color: black;
    border: 1px solid rgb(192, 174, 36);
    border-radius: 4px;
    cursor: pointer;
    font-weight: 600;
    transition: .3s;
    margin-left: 285px;
    margin-bottom: 30px;

    &:hover {
        box-shadow: 0 0 8px yellow;
        transition: .2s;
        background-color: rgb(255, 234, 117);
    }

    &:active {
        box-shadow: 0 0 15px yellow;
        background-color: white;
        transition: .2s;
    }

    &:focus {
        outline: none;
    }
}