nav {
    height: 110px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    height: 25px;
    color: black;
    background: rgb(38, 38, 38);
    align-items: center;
    border-bottom: 1px solid rgb(41, 41, 41);
    position: fixed;
    width: 100%;
    z-index: 5;
}

.user-info-nav {
    ul {
        width: 100%;

        li {
            margin-right: 300px;
        }
    }
}

.user-info {
    margin-right: 40px;
    font-size: 14px;
    font-weight: 400;
    color: rgb(111, 111, 111);

    span {
        font-weight: 600;
        color: #9b9b9b;
        font-size: 16px;
    }
}

ul {
    display: flex;
    color: rgb(199, 199, 199);
    padding: 0 130px;
    width: 100%;
    font-size: 18px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    list-style: none;

    div {
        display: flex;
    }
}

li {
    text-decoration: none;
}

footer {
    display: flex;
    height: 35px;
    background: #151515;
    font-weight: 600;
    position: fixed;
    width: 100%;
    top: 25px;
    z-index: 5;
}

.nav-link {
    text-decoration: none;
    color: rgb(198, 198, 198);
    font-size: 20px;
    transition: .2s;
    font-weight: 400;
    margin-right: 30px;
    border-bottom: solid 2px rgba(0, 0, 0, 0);
    padding-bottom: 4px;

    &:hover {
        color: rgb(255, 233, 70);
        transition: .2s;
        border-bottom: solid 2px rgb(255, 233, 70);
    }

    &:active {
        color: rgb(153, 137, 49);
        border-bottom: solid 2px rgb(143, 131, 38);
        transition: .2s;
    }
}

.nav-link-logout {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.164);
    transition: .2s;
    font-size: 18px;
    font-weight: 400;

    &:hover {
        color: rgb(242, 80, 80);
        transition: .2s;
    }

    &:active {
        color: rgb(141, 46, 46);
        transition: .2s;
    }
}

.active {
    color: rgb(255, 233, 70);
    transition: .2s;
    border-bottom: solid 2px rgb(255, 233, 70);
}