nav {
    height: 110px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

header {
    display: flex;
    height: 25px;
    color: black;
    background-color: rgb(113, 113, 113);
    align-items: center;
    border-bottom: 2px solid rgb(35, 63, 116);
}

.user-info-nav {
    ul {
        width: 100%;

        li {
            color: rgb(101, 101, 101);
            margin-right: 300px;
        }
    }
}

.user-info {
    margin-right: 50px;

    span {
        font-weight: 600;
        color: #b0eaff;
    }
}

ul {
    display: flex;
    color: rgb(199, 199, 199);
    padding: 0 40px;
    width: 100%;
    font-size: 18px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    list-style: none;

    div {
        display: flex;
    }
}

li {
    text-decoration: none;
}

footer {
    display: flex;
    height: 35px;
    background-color: #383838;
    font-weight: 600;
}

.nav-link {
    text-decoration: none;
    color: rgb(210, 210, 210);
    font-size: 20px;
    transition: .2s;
    margin-right: 30px;
    border-bottom: solid 2px rgba(0, 0, 0, 0);
    padding-bottom: 4px;

    &:hover {
        color: rgb(255, 233, 70);
        transition: .2s;
        border-bottom: solid 2px rgb(255, 233, 70);
    }

    &:active {
        color: rgb(58, 211, 96);
        transition: .2s;
    }
}

.nav-link-logout {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.377);
    transition: .2s;

    &:hover {
        color: rgb(242, 80, 80);
        transition: .2s;
    }
}